@model List<GetArticleWithUserVM>


<div class="row mt-2">

    <!-- AppUser Article List -->
    <div class="col-md-9">
        <hr />
        @foreach (var item in @Model)
        {
            <!-- Irformation Header -->
            <div class="row mt-2">

                <!-- Writer Profile Pic-->
            <div class="col-md-1 px-0 ms-2 p-0">
                    <img class="rounded-circle p-0" src="@item.UserImage" style="height:55px;width:50px" />
                </div>

                <!-- Information Detail -->
            <div class="col-md-10">
                    <!-- Writer FullName -->
                <div class="">
                        <a class="text-dark fw-bold" asp-controller="AppUser" asp-action="Detail" asp-route-id="@item.UserId">@item.UserFullName </a>
                    </div>
                    <!--Create Date - Reading Time-->
                <div>
                        <label class="text-muted fw-light">@item.CreateDate.ToShortDateString() / @item.ReadingTime - min read / @item.ReadCounter times read </label>
                    </div>
                </div>

            </div>
            <!--Article List-->
            <div>
                <div class="row">
                    <!-- Article Title - Content -->
                <div class="col-md-9 pe-2">

                        @if (@item.Title.Length > 100)
                        {
                            <a asp-action="Detail" asp-controller="Article" asp-route-id="@item.ArticleId" class="fw-bold text-dark">
                                <h5 class="mt-2"><strong>@item.Title.Substring(0,100)</strong></h5>
                            </a>
                        }
                        else
                        {
                            <a asp-action="Detail" asp-controller="Article" asp-route-id="@item.ArticleId" class="fw-bold text-dark">
                                <h5 class="mt-2"><strong>@item.Title</strong></h5>
                            </a>

                        }


                        @if (@item.Content.Length > 250)
                        {
                            <p class="mb-1">
                                @item.Content.Substring(0,250) <a asp-action="Detail" asp-controller="Article" asp-route-id="@item.ArticleId" class="fw-bold">...</a>
                            </p>
                        }
                        else
                        {
                            <p class="mb-1">
                                @item.Content
                            </p>
                        }

                        <!--Article Category-->
                    <a asp-action="ListWithFilter" asp-controller="Article" asp-route-id="@item.CategoryID" class="btn btn-secondary btn-sm fw-info px-2 py-1">@item.CategoryName</a>


                    </div>

                    <!-- Article Image -->
                <div class="col-md-2 d-flex justify-content-end">

                        <img class="mt-3" src="@item.Image" style="height:120px;width:120px" />

                    </div>
                </div>
            </div>
            <hr />
        }

    </div>

    <!-- Followed Category and Information Div -->
    <div class="col-md-2 ms-5" style="border-left: medium solid grey">
        <div class="row sticky-top ms-3">
            <div class="mt-4">


                <p class="mt-4 p-0 fw-bold" style="border-bottom: thin solid grey">Followable Categories</p>

                <form asp-controller="Article" asp-action="ListWithFilters" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All"></div>
                    <div class="mb-2">
                        <button type="submit" class="btn btn-success">Filters</button>
                        <hr />
                    </div>

                    @foreach (var item in @ViewBag.AllCategory)
                    {
                        <div class="mb-2">
                            <input type="checkbox" class="btn-check" name="categories[]" value="@item.ID" id="@item.ID" autocomplete="off">
                            <label class="btn btn-outline-primary" for="@item.ID">@item.Name</label>
                            <br>
                        </div>
                    }
                </form>


            </div>
            <!-- Profile Picture -->


        </div>

    </div>
</div>
