@model List<Comment>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Comments</h3>
        <div class="card-tools">
            <ul class="pagination pagination-sm float-right">
                <li class="page-item"><a class="page-link" href="#">«</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul>
        </div>
    </div>

    <div class="card-body p-0">
        <table class="table">

            <!-- Table Head -->
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>User Full Name</th>
                    <th>Article Picture</th>
                    <th>Article Title</th>
                    <th>Text</th>
                    <th style="width: 100px" class="text-center">Operations</th>
                </tr>
            </thead>

            <!-- Table Body -->
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><img src="@item.AppUser.Image" class="img-circle" style="width:50px;"/></td>
                        <td>@item.AppUser.FullName</td>
                       <td><img src="@item.Article.Image" class="img-circle" style="width:50px;"/></td>
                        @if (@item.Article.Title.Length <= 20)
                        {
                            <td>@item.Article.Title</td>
                        }
                        else
                        {
                            <td>@item.Article.Title.Substring(0,20)</td>
                        }

                        @if (@item.Text.Length <= 20)
                        {
                            <td>@item.Text</td>
                        }
                        else
                        {
                            <td>@item.Text.Substring(0,20)</td>
                        }
                         
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
