@model List<Category>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Categories</h3>
        <div class="card-tools">
            <ul class="pagination pagination-sm float-right">
                <li class="page-item"><a class="page-link" href="#">«</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul>
        </div>
    </div>

    <div class="card-body p-0">
        <table class="table">

            <!-- Table Head -->
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th style="width: 360px" class="text-center">Operations</th>
                </tr>
            </thead>

            <!-- Table Body -->
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>

                            <a asp-action="ListWithFilter" asp-controller="Article" asp-route-id="@item.ID" class="btn btn-secondary">Detail</a>

                            @if ((ViewBag.list as IEnumerable<UserFollowedCategory>).Any(a => a.CategoryID == @item.ID))
                            {
                                <a asp-action="UnFollow" asp-route-id="@item.ID" class="btn btn-warning">UnFollow</a>
                            }
                            else
                            {
                                <a asp-action="Follow" asp-route-id="@item.ID" class="btn btn-success">Follow</a>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>


@*@foreach (var item in Model)
    {
    @if ((ViewBag.list as IEnumerable<UserFollowedCategory>).Any(a=>a.CategoryID==@item.ID))
    {
    <p>Var @item.ID</p>
    }
    else
    {
    <p>Yok @item.ID</p>
    }
    }*@
